{
    "port": 3000,

    "clientId": "708902278836518973",
    "clientSecret": "Q2AZP-RO8BwKV-vA8aK2epArSPXSxQR8",
    "scopes": ["identify", "guilds"],
    "redirectUri": "http://staticweb.glitch.me/authorize/callback"
}
